{% extends 'layouts/base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div class="d-flex align-items-center">   
    <img src="https://www.researchgate.net/profile/Praneeth-Silva/post/How_Research_Gate_Academic_Platform_was_important_for_you_to_build_up_your_academic_life_up_to_the_current_state/attachment/61e69c77f5675b211b1eea66/AS%3A1113553431986177%401642503235590/image/Academic+platforms.png" width="80%" height="80%" class="img-fluid " alt="...">
    
    <figure class="text-center">
  <blockquote class="blockquote">
    <p>Discover scientific knowledge and stay connected to the world.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Join 20+ million researchers, and more ...<cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>

</div>

<div >
<h2>Discover research</h2>
<hr>
<div class="d-flex mx-5">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://www.researchgate.net/images/footer-hiring@2x.jpg" class="img-fluid rounded-start" width="fit-content" block-size: "fit-content" height="fit-content"  alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Scientific Recrutmet</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://www.researchgate.net/images/footer-hiring@2x.jpg" class="img-fluid rounded-start" width="fit-content" block-size: "fit-content" height="fit-content"  alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Scientific Recrutmet</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>




</div>
{% endblock %}
