{% extends 'layouts/layout_admin.html.twig' %}


{% block body %}
    <h1>Edit your profil</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_account') }}">back to account</a>

{% endblock %}
