<nav class="navbar navbar-dark bg-dark justify-content-between fixed-top">
  <a class="navbar-brand mx-3"><strong>ArticleGate</strong></a>
  <form class="form-inline">
    <div class="d-flex mx-2" >
    <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
    
    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary mx-2" type="button">Login</a>
    <a href="{{ path('app_register') }}" class="btn btn-sm btn-outline-secondary mx-2" type="button">Sign in</a>

    </div>
  </form>
</nav>